:root {
    --dark-color: rgb(0, 0, 139);
    --forecast-color: rgb(26,76,128);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--dark-color);
    margin: 5px;
}

header h1 {
    color: white;
    padding: 10px 0;
    text-align: center;
}

button {
    text-align: center;
}

input,
button {
    width: 100%;
}

#search-container {
    border-bottom: 2px solid darkgray;
}

#search-container h3 {
    font-weight: bold;
}

#search-form input {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid darkgray;
}

#search-form button {
    padding: 3px;
    margin-bottom: 15px;
    /* border: 1px solid darkgray; */
}

#historical-searches button {
    margin-top: 15px;
    padding: 4px;
    border: 1px solid darkgray;

}

.current-weather {
    border: solid 1px darkgray;
    padding: 5px;
    margin-bottom: 20px;
}

#current-weather-header {
    margin-bottom: 15px;
}

#city-name {
    display: inline;
    font-weight: bold;
}

.weather-icon {
    padding-bottom: 10px;
}

#forecast-container {
    padding: 0;
}

.forecast-day {
    background-color: var(--forecast-color);
    color: white;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.forecast-date {
    font-weight: bold;
    margin-bottom: 0;
}

.icon {
    margin: 10px 0;
}

.fa-sun {
    color: orange;
}

.fa-cloud {
    color: gray;
}

.fa-cloud-showers-heavy {
    color: slategray;
}

.fa-cloud-sun-rain {
    color: slategray;
}
.fa-cloud-bolt {
    color: slategray;
}
.fa-snowflake {
    color: white;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
    .current-weather {
        margin-top: 20px;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) {

    #historical-searches button {
        margin-top: 6px;
        padding: 2px;    
    }

    .current-weather {
        margin-top: 20px;
    }

    #forecast-weather {
        display: flex;
    }

    .forecast-day {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15px;
        line-height: 1;
    }
}

